<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Desktop Wallpaper Voting site</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="header">
            <header>
                 <h1>
                    <a href="/">Desktop Wallpaper Voting site</a>
                </h1>
                <div>
                    {{#if loggedIn}}
                    <button id="logout" class="btn-no-style">logout</button>
                    {{else}}
                    <a href="/login">login</a>
                    {{/if}}
                </div>
            </header>
            <main>
                <nav class="navbar">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/profile">Profile</a>
                        </li>
                        <li>
                            <a href="/leaderboard">Leaderboard</a>
                        </li>
                        <li>
                            <a href="/vote">Vote</a>
                        </li>
                    </ul>
                </nav>
            <section>
                {{{ body }}}
            </section>

            </main>
            <footer>
            Thanks for visiting!
            </footer>
        </div>
        {{#if loggedIn}}
        <script src="/js/logout.js"></script>
        {{/if}}
    </body>

</html>