<form class="login-form form-group wallpaper-submit">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" class="fontstyle py-1"/>
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" class="fontstyle py-1"/>
  </div>
  <div>
    <button type="submit" class="btn btn-dark">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" class="fontstyle py-1"/>
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" class="fontstyle py-1"/>
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" class="fontstyle py-1"/>
  </div>
  <div>
    <button type="submit" class="btn btn-dark">signup</button>
  </div>
</form>

<script src="/js/login.js"></script>