<div class="row">
  <form class="login-form col-md-6 col-12 p-5">
    <h1 class="text-center">Login</h1>
    <div class="text-center">
      <label for="email-login">Email:</label>
      <input type="text" id="email-login" class="fontstyle py-1"/>
    </div>
    <div class="text-center">
      <label for="password-login">Password:</label>
      <input type="password" id="password-login" class="fontstyle py-1"/>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-dark">Login</button>
    </div>
  </form>

  <form class="signup-form col-md-6 col-12 p-5">
    <h1 class="text-center">Signup</h1>
    <div class="text-center">
      <label for="username-signup">Username:</label>
      <input type="text" id="username-signup" class="fontstyle py-1"/>
    </div>
    <div class="text-center">
      <label for="email-signup">Email:</label>
      <input type="text" id="email-signup" class="fontstyle py-1"/>
    </div>
    <div class="text-center">
      <label for="password-signup">Password:</label>
      <input type="password" id="password-signup" class="fontstyle py-1"/>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-dark">Signup</button>
    </div>
  </form>
</div>

<script src="/js/login.js"></script>