<form class="login-form col-md-6 col-12 pt-5">
  <h1>Login</h1>
  <div>
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" class="fontstyle py-1"/>
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" class="fontstyle py-1"/>
  </div>
  <div>
    <button type="submit" class="btn btn-dark">Login</button>
  </div>
</form>

<form class="signup-form col-md-6 col-12 pt-5">
  <h1>Signup</h1>
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" class="fontstyle py-1"/>
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" class="fontstyle py-1"/>
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" class="fontstyle py-1"/>
  </div>
  <div>
    <button type="submit" class="btn btn-dark">Signup</button>
  </div>
</form>

<script src="/js/login.js"></script>