<section>
    <h1>Pick a wallpaper that you like!</h1>
    <div>
     <input type="image" id="picture1" src="{{wallpaper.wallpaper_url}}" alt="{{wallpaper.title}}">
    <label for="picture1">Picture 1</label>
    </div>
    <div>
     <input type="image" id="picture2" src="{{wallpaper.wallpaper_url}}" alt="{{wallpaper.title}}">
    <label for="picture2">Picture 2</label>
    </div>
</section>