<section>
    <h1>Pick a wallpaper that you like!</h1>
    <div>
     <input type="image" id="picture1" src="{{wallpaper.wallpaper_url}}" alt="{{wallpaper.title}}">
    </div>
    <div>
     <input type="image" id="picture2" src="{{wallpaper.wallpaper_url}}" alt="{{wallpaper.title}}">
    </div>
</section>